.build-jean {
    background-image: url('https://bn1301files.storage.live.com/y4mbs7pZkBYJopWeBu6m9M3vzqY54SQcOHjcALxbRhIGGsL1AxfA2SfgHkCXakJBsRlvzQVesYb4WTVaVX1tIRJyV4XVP1GJ-Hd4e1SafEO96vfyCcSkJDVYmdJ5NMpcurjCCmqDFjjGjKJoS8yfSaQgiB5kXVMJbalVmYv53ibWZylRni3yGiH9a1eywmdy-be?width=1920&height=320&cropmode=none');
}

.build-venti {
    background-image: url('https://bn1301files.storage.live.com/y4minG5YS9ojF54fo6x-pr176WdsPXkauxU6HkDySmgqpe6RmaVR4vK3QuMiN5RqcfHAr6fKaGo72Mr-mHCjoRRbxsooY7-3CS3Ct_faPn7xlW1HVV5WRoCB2LlmKBrCllNhJ70UG3JAYMJq61l4mZv2uAJDyViuyvqKCMEvg1qPn2tzFyn4ebdo1X-QRmt4BdD?width=1920&height=320&cropmode=none');
}

.build-bennett {
    background-image: url('https://bn1301files.storage.live.com/y4mfd6B7kW5ogoD2aHtPMPri2mR7yaO5iNFmmLoR0--QgYaOw-B_gRRoISC0hUQNNDR-n4ngCcphGucDE9zrCPSjYPpqpbHjNP25hJcwPVMVBo6yJdX8_eMQaSVjzYAMZg9V9ojzzVgv3BF1F4K6zVBuuZKE7QAefoTsJQtHHVIBURcetL9c1-ctYXxde8ba5VP?width=1920&height=320&cropmode=none');
}

.build-noelle {
    background-image: url('https://bn1301files.storage.live.com/y4mZ09mc08Vntw6ftpjpquSxbWpsOMuL86H-x3dEN9In_p-AuMP9IaxbHpvNeFrgvL1jZQAeoSzbobhexXkeH1KTRGLFjF8mx2JJsDx7qiY9QTPNCSH9nQzKPwKOUVIHUgClhce9CJG7yltpGhRYqJXLj4CnsaFc0xogLeDnKsL6ZqIrEI2p48FxGKSqOItJjMj?width=1920&height=320&cropmode=none');
}

.build-fischl {
    background-image: url('https://bn1301files.storage.live.com/y4mD0cqPrF-Tn36dBxn07eHduNuwNDJGC4uV_vSkw7CQ3EpZlq3kO-l-F7mE8h9Q1dh-qlVHjEl8j1GVqWKGlaNw_W0zQPNvTzwXu40xNVA2siejqd1ZiJzhBDBU-RaXxz3wVxlvXyvBmgrIKXWA1ZYJuhnbWVop61ZveaWYuGFCEOyRSwuXIcBjQkRG12Gjkfz?width=1920&height=320&cropmode=none');
}

.build-mona {
    background-image: url('https://bn1301files.storage.live.com/y4mdKAET_k7LKhV1YjZ0lq3iOwb3NJlw4hLzVLycU0KdF78kr-XQumlhHrTScKOjzNp3msKZIqHOAi1JtRXl6YJq7YYTpeuZl3Vhy-c0tWFKZQuC1gv92Yvl9ZG1kDVgjFynXqw5n6oqtc4z_BSeBkiyZ4hswIENoc9YYzAfMxQGXAepOGQvj7OY09KxqIitbzt?width=1920&height=320&cropmode=none');
}

.build-diona {
    background-image: url('https://bn1301files.storage.live.com/y4mrtWGhX7EkC4LLO0aq5d34Kha7I1KVpKKvTKIxYoD2GA1aNTjyxkox0PoUmoqVg4xmPZ67omqptZoDqQ86bGgziB3-zoLwv5P4JueoYQcQKWyYwb7Rc8Ln2UG1IReVkL9ZlFVyK71QhVQcbntVDKh-Nsjox4FboWCa8qEASnhjv3A9JxEVeMsaeXjPt7xGgVm?width=1920&height=320&cropmode=none');
}

.build-xiao {
    background-image: url('https://bn1301files.storage.live.com/y4mX5i_NY23mbkGbmZbHSVTVnT6cqOtBvt9A7sRgdnnoeYzo3wef59gjRlr9WhRxAB8w5JzUwbO19YOFEISRIV-b568k-Chx5_tOqjBlGeN3Y0HxBZjJSmMjGcdDvXjKGWsrxZV_-UuvNTbDkRandBkPTZ4lZdBCiJKaFECEWQH0qi3O4kQrW1uz-P8G0Sh68-i?width=1920&height=320&cropmode=none');
}

.build-xiangling {
    background-image: url('https://bn1301files.storage.live.com/y4mMA2EJZQFxwg-eN3lzGdbEmEc05C-dyf8EO8RXwSVylHIlvx1Q6vv9itC9Nhox82TRaB-tK_Uqqn4Xf27Fsnvy1W7hBbFyeiFlrZq_RHk4SVlgu1PiBAW6RGMBS6jFyiSaj0nDaYffr0fKuwWIDZb30UDf4dXqHEU7mDjoWDPPiD68X0hym-vvx-EpbzyWoDZ?width=1920&height=320&cropmode=none');
}

.build-xingqiu {
    background-image: url('https://bn1301files.storage.live.com/y4mo7GikPskOO-G4REqlzdZt1XeFysnCV9U-QlD-RJi-X2MatwMaHDEO-7ABd-Y0KjAUCcB2C89veodMI08o3PA3AAE6z1Znrpcw_8Q8eGwWs7qoccDZIgVHp7Q-EasadK9xUkj-hlHUzVddo5YDgUtHMCr4jiC16hQpvlWC_W0suoabcvUA31NU_MHkQ9nFtPO?width=1920&height=320&cropmode=none');
}

.build-keqing {
    background-image: url('https://bn1301files.storage.live.com/y4ms1qBJVkk1R62b1SzbMaDjOKQx1v1RCdUkG03cOZHgiE99jyo7ePHqiN7RqZ3zokPs8E0tg2BAobhkonwgLdCvNT1dmogZVeHq58ic5jnyAIfvfrRo5l7bd0DmNGSe3W95ETk08pWNCdk_heV1m2pZ63BcO7MqNw3XcPAwaNSvTWvN_SphYelB6A8tvbLB-vg?width=1920&height=320&cropmode=none');
}

.build-zhongli {
    background-image: url('https://bn1301files.storage.live.com/y4mRHORcxMavjhrhpUdDrRGEO4FViu-z0ncOgME-WOcR6TxvZ1BQD9s_v3MkpLNSH7_xVt-9zK0xeC2yuxfo8OxzCu7BUf9BrnotH1UjX3ODjgw145P3cJoXIoWz5SfWcKtiWl3G-xtFFle9a2c5tNxDDfKLo8lXEd4OfqFfc1MpD0e-amGVUO9ol1kQp-SfNkv?width=1920&height=320&cropmode=none');
}

.build-ganyu {
    background-image: url('https://bn1301files.storage.live.com/y4m_eQI7bc5t5ei3OQ_DB_oZssDF-wKyu7QruyFJWCNtQdOofdbkzAte4kESGFQiO3s6GCabt-6qeJIb4kN3SGpYalAWjW24GatlfBd0EsyKb7kXfQfcfHw9Se7BSIxlP2BJo-4Y7U1GIV6OuQUmiQLBMMspIpljXvofcBRsyesiUacPhR7hkjqv-vnmka9UamU?width=1920&height=320&cropmode=none');
}

.build-shenhe {
    background-image: url('https://bn1301files.storage.live.com/y4mJJnkytEQQHOdKSBp8gj9BYGTXObUVqcmMWXGwzFZxRlX6x6tH-APYqeqDjlCxe-pECGFqfwFhGUZH07zgHsZ2jh967Xs5gb2RUsXLebYlRmQTFmwSbZb66hsC6Mq27lMvwLecO-wp-p5Qv4S5YsJCET_hcmO_iEw7Y89y9OS83C3S-usl28fCHR0DE3ht8X-?width=1920&height=320&cropmode=none');
}

.build-kamisato_ayaka {
    background-image: url('https://bn1301files.storage.live.com/y4mPpLj8nb_mDI0dkwLvPc436zzXjl5Sps5hjZI_DA5mfMdoR2-r8y6urB00rsNBBmbxJtkOncNFP5Gzj-YWLKyXss0EhTbWlOV97NSQFsaAe4D3dSzG_4YuBGhXpwCRgJDU0kQF7_aCeDvplGRGujwT68BdKlV8TMPIPgjatISDbJSfvQQQ8Ux_9ELqsEDYFWZ?width=1920&height=320&cropmode=none');
}