/*
 | Mondstadt
*/

.btn-jean {
    color: #55a890 !important;
    border: 2px solid #5cbea7 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-jean:hover {
    background-image: url('../img/character/mondstadt/Jean_The_Winds_Course.png');
    background-color: #6dd3c1 !important;
}

.btn-venti {
    color: #52abb2 !important;
    border: 2px solid #4faeb1 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-venti:hover {
    background-image: url('../img/character/mondstadt/Venti_Azure_Sky.png');
    background-color: #5EB9BF !important;
}

.btn-bennett {
    color: #b9493c !important;
    border: 2px solid #b9493d !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-bennett:hover {
    background-image: url('../img/character/mondstadt/Bennett_Recognition.png');
    background-color: #aa5044 !important;
}

.btn-noelle {
    color: #b09540 !important;
    border: 2px solid #b09648 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-noelle:hover {
    background-image: url('../img/character/mondstadt/Noelle_Protector.png');
    background-color: #b99c46 !important;
}

.btn-fischl {
    color: #7f65c4 !important;
    border: 2px solid #7e64c4 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-fischl:hover {
    background-image: url('../img/character/mondstadt/Fischl_Night_Raven.png');
    background-color: #937bc7 !important;
}

.btn-mona {
    color: #7e669f !important;
    border: 2px solid #7e69a2 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-mona:hover {
    background-image: url('../img/character/mondstadt/Mona_Starry_Sky.png');
    background-color: #9985d3 !important;
}

.btn-diona {
    color: #cd8a88 !important;
    border: 2px solid #d29391 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-diona:hover {
    background-image: url('../img/character/mondstadt/Diona_Meow!.png');
    background-color: #eda7a4 !important;
}

/*
 | Liyue Harbor
*/

.btn-xiao {
    color: #2e626e !important;
    border: 2px solid #2e9ba8 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-xiao:hover {
    background-image: url('../img/character/liyue/Xiao_Mask.png');
    background-color: #43b2b9 !important;
}

.btn-xiangling {
    color: #df7e22 !important;
    border: 2px solid #e8a240 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-xiangling:hover {
    background-image: url('../img/character/liyue/Xiangling_Fresh_from_the_Pan.png');
    background-color: #d47f48 !important;
}

.btn-xingqiu {
    color: #4993d6 !important;
    border: 2px solid #4994d6 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-xingqiu:hover {
    background-image: url('../img/character/liyue/Xingqiu_Rainbow.png');
    background-color: #63b7e9 !important;
}

.btn-keqing {
    color: #9140a9 !important;
    border: 2px solid #9a7be0 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-keqing:hover {
    background-image: url('../img/character/liyue/Keqing_Lightning_Stiletto.png');
    background-color: #a381e4 !important;
}

.btn-zhongli {
    color: #99653a !important;
    border: 2px solid #8b5a37 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-zhongli:hover {
    background-image: url('../img/character/liyue/Zhongli_Planet_Befall.png');
    background-color: #9a6850 !important;
}

.btn-ganyu {
    color: #3e7ad7 !important;
    border: 2px solid #67a9e5 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-ganyu:hover {
    background-image: url('../img/character/liyue/Ganyu_Qilin.png');
    background-color: #7ebcec !important;
}

.btn-shenhe {
    color: #445675 !important;
    border: 2px solid #92a4b5 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-shenhe:hover {
    background-image: url('../img/character/liyue/Shenhe_Comb.png');
    background-color: #969fa3 !important;
}

/*
 | Inazuma
*/

.btn-kamisato_ayaka {
    color: #334693 !important;
    border: 2px solid #5b6793 !important;
    background-color: #ffffff !important;
    background-position: -10px;
}

.btn-kamisato_ayaka:hover{
    background-image: url('../img/character/inazuma/Kamisato_Ayaka_Folding_Fan.png');
    background-color: #507cb6 !important;
}