@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: "HYWenHei";
    src: url('../font/HYWenHei-85W.woff2');
}

* {
    box-shadow: none !important;
}

body {
    font-family: 'Quicksand', sans-serif !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.animated-icon {
    width: 22px;
    height: 16px;
    top: 0.3rem;
    margin: 4px 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.animated-icon span {
    background: #ffffff;
}

.animated-icon span:nth-child(1) {
    top: 0px;
}

.animated-icon span:nth-child(2),
.animated-icon span:nth-child(3) {
    top: 7px;
}

.animated-icon span:nth-child(4) {
    top: 14px;
}

.animated-icon.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.container-1080 {
    max-width: 1080px;
}

.dropdown-menu {
    border: none !important;
    border-radius: 0 !important;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0rem !important;
    border-top: 4px solid #989898 !important;
}

.dropdown-item:active,
.dropdown-item:active>* {
    background-color: #FAB210 !important;
    color: #FFFFFF !important;
}

.bg-keqing, .bg-mondstadt, .bg-liyue, .bg-inazuma {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.33) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-keqing {
    background-position: center calc(15%);
    background-image: url('../img/bg_keqing.png');
    padding-bottom: 10.5%;
    padding-top: 10.5%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.bg-mondstadt, .bg-liyue, .bg-inazuma {
    padding-bottom: 7.5%;
    padding-top: 7.5%;
}

.bg-mondstadt {
    background-image: url('../img/mondstadt.jpg');
}

.bg-liyue {
    background-image: url('../img/liyue.jpg');
}

.bg-inazuma {
    background-image: url('../img/inazuma.jpg');
}

.btn-char {
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.15rem !important;
    font-size: 1.05rem !important;
    font-weight: 700 !important;
    padding: 0.575rem 0.75rem !important;
    max-width: 200px;
    width: 100%;
    transition: all 0.15s !important;
}

.btn-char:hover {
    color: #ffffff !important;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
}

.navbar-home,
.footer-home {
    background-color: #65517a;
}

section {
    min-height: calc(100vh - 114px);
}

.character {
    position: relative;
    box-shadow: 0px 7px 5px #3e2918 !important;
    background-color: #845c39;
    border-radius: 1.25rem;
    margin: 3rem auto 0rem auto;
    padding: 1rem;
    max-width: 1280px;
    width: 100%;
}

.character .character-border {
    border: 2px solid #ab7f5b;
    border-radius: 1.25rem;
    border-style: dashed;
    padding: 2px;
}

.character .character-body {
    background-color: #3e2918;
    border-radius: 1rem;
    padding: 0.75rem;
    width: 100%;
}

.character .character-main {
    background: #e7dbcd url('../img/img-noise-512x512.png');
    border-radius: 0.5rem;
    color: #3e2918;
    padding: 1rem;
    width: 100%;
}

.character .character-top {
    background-image: linear-gradient(180deg, #845c39, #3e2918);
    border-radius: 0.375rem 0.375rem 0rem 0rem;
    padding: 0.925rem 1rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: -37px;
    left: 1.25rem;
}

.character .character-top.load404 {
    padding: 1.525rem 1rem;
    top: -44px;
}

.character .character-top .character-name-level p {
    margin-bottom: 0rem;
    font-weight: 700;
    color: #ffffff;
}

.character .character-top .character-name-level p.character-name {
    margin-top: -0.1rem;
    font-size: 18px;
}

.character .character-top .character-name-level p.character-level {
    margin-top: -0.25rem;
    font-size: 12px;
}

.character .character-icon {
    position: relative;
    height: 38px;
    width: 38px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: circle(18px at center);
    margin: 0px 10px 0px 5px;
}

.character .character-icon+.character-icon-border {
    position: absolute;
    height: 48px;
    width: 48px;
}

.character-menu {
    display: grid;
    position: absolute;
    top: 3rem;
    right: -0.5rem;
    border-radius: 0.5rem;
}

.character-menu a {
    text-decoration: none;
    background-color: #3e2918;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.85rem;
    padding: .906757rem 1rem;
}

.character-menu a:hover {
    color: rgb(255, 255, 255);
}

.character-menu a:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.character-menu a:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.character .character-search {
    position: absolute;
    right: 0px;
    top: -44px;
}

.character .character-search input {
    border: 1px solid #3e291866;
    font-size: 14px;
    font-weight: 600;
}

.character .character-search input:focus {
    color: #3e2918;
}

.character .character-search button {
    background-color: #704d2f;
}

.character .character-copyright {
    text-align: center;
    margin-top: 0.75rem;
    font-size: 0.85rem;
    font-weight: 700;
}

.build {
    background-color: #533822;
    color: #FFFFFF;
    border-radius: 0.5rem;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 1rem !important;
}

.d-stat {
    font-weight: 700;
    max-width: 375px;
}

table.table-stat tr td {
    text-shadow: 0px 0px 5px #845c39 !important;
    padding: 0.1rem 0rem !important;
    font-size: 14px;
    color: #FFFFFF;
}

table.table-stat tr td:first-child {
    text-align: start !important;
}

table.table-stat tr td:last-child {
    text-align: end !important;
}

.card,
.card img {
    border: none !important;
    border-radius: 0rem !important;
}

.modal.fade .modal-dialog {
    transform: scale(1) !important;
}

.modal.fade.show .modal-dialog {
    transform: scale(1) !important;
}

.modal .modal-content {
    background-color: #845c39 !important;
}

.modal .btn-close {
    opacity: 1 !important;
}

.modal .modal-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

footer {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    padding: 1.15rem 0.75rem;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.row-card .col:nth-child(1) .card,
.row-card .col:nth-child(1) .card img {
    border-top-left-radius: 0.5rem !important;
}

.row-card .col:nth-child(2) .card,
.row-card .col:nth-child(2) .card img {
    border-top-right-radius: 0rem !important;
}

.row-card .col:nth-child(3) .card,
.row-card .col:nth-child(3) .card img {
    border-top-right-radius: 0.5rem !important;
}

.row-card .col:nth-child(4) .card,
.row-card .col:nth-child(4) .card img {
    border-bottom-left-radius: 0.5rem !important;
}

.row-card .col:nth-child(5) .card,
.row-card .col:nth-child(5) .card img {
    border-bottom-left-radius: 0rem !important;
}

.row-card .col:nth-child(6) .card,
.row-card .col:nth-child(6) .card img {
    border-bottom-right-radius: 0.5rem !important;
}

@media only screen and (max-width: 575px) {
    .character .character-search {
        position: relative;
        top: 0;
    }

    .character .character-search form {
        max-width: 100% !important;
        margin-bottom: 0.75rem;
    }

    .row-card .col:nth-child(1) .card,
    .row-card .col:nth-child(1) .card img {
        border-top-left-radius: 0.5rem !important;
    }

    .row-card .col:nth-child(2) .card,
    .row-card .col:nth-child(2) .card img {
        border-top-right-radius: 0.5rem !important;
    }

    .row-card .col:nth-child(3) .card,
    .row-card .col:nth-child(3) .card img {
        border-top-right-radius: 0rem !important;
    }

    .row-card .col:nth-child(4) .card,
    .row-card .col:nth-child(4) .card img {
        border-bottom-left-radius: 0rem !important;
    }

    .row-card .col:nth-child(5) .card,
    .row-card .col:nth-child(5) .card img {
        border-bottom-left-radius: 0.5rem !important;
    }

    .row-card .col:nth-child(6) .card,
    .row-card .col:nth-child(6) .card img {
        border-bottom-right-radius: 0.5rem !important;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(195, 195, 195);
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}